#set($branch = ${headers.other-branch})
#if ($!branch.objType == "branch")
🏦 <b>${branch.name}</b>: ${branch.street.replaceAll(",([^ ])", ", ")} ${branch.house}
#if ($branch.workingTime)
#foreach( $time in $branch.workingTime.split(", "))
🕒 ${time.replace(":с", ":").replace("до", "-")}
#end
#end
• ${headers.math.toInteger($branch.distance)} метр(ов)
#else
#if ($branch)
🏧 <b>${branch.name}</b>: ${branch.street.replaceAll(",([^ ])", ", ")}
• #if ($branch.state.opcode == 1)Открыт
#else Закрыт
#end
• ${headers.math.toInteger($branch.distance)} метр(ов)
#end
#end
