Приблизительная стоимость при покупке в Сбербанке (Москва):
#if($headers.currency.name() == 'GOLD' || $headers.currency.name() == 'SILVER' || $headers.currency.name() == 'PLATINUM' || $headers.currency.name() == 'PALLADIUM')
<b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.RUB,2))} RUB</b>
#else
#if ($headers.currency.name() == 'Rub')
#if($headers.Euro)• <b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.Euro, 2))} EUR</b>
#end
#if($headers.USD)• <b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.USD,2))} USD</b>
#end
#if($headers.GBP)• <b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.GBP,2))} GBP</b>
#end
#if($headers.CHF)• <b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.CHF,2))} CHF</b>
#end
#else
#if($headers.RUB)• <b>${num.format('###,###,###,###,###,###,###,##0.00', $tools.bankRound($headers.RUB,2))} RUB</b>
#end
#end
#end

✅ Более точные данные на официальном сайте или в приложениях Сбербанк Онлайн.